.hexagon {
  position: relative;
  margin: 100px auto;
  width: 134px;
  height: 76px;
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  background-position: center center;
  z-index: 1;
  /* Text styling */
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}
.hexagon:hover {
  color: #fff;
  text-shadow: 0 0 10px white;
}

.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  backface-visibility: hidden;
}
.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}

.hexagon .face1 {
  transform: rotate(60deg);
}
.hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}

.hexagon .face2 {
  transform: rotate(-60deg);
}
.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}
